
#phylogenyMenu {
  margin: 0px 0px 10px 0px;
}

#phylogenyMenu label, #phylogenyMenu select{
  margin: 0 0 0 5px;
}

#phylogenyMenu button {
  margin: 0 0 0 10px;
}

#phylogenyMenu li{
 display: inline-block;
 width: 50%;
 list-style-type: none;
 text-align: center;
 padding: 5px 0 5px 0;
 background: #8e93ca;
 border: solid 1.5px white;
}

#phylogenyMenu li:hover{
  background: #5e66b4;
}

#phylogenyMenu button {
  background: #8e93ca;
  color: white;
}

#phylogenyMenu button:hover {
  background: #5e66b4;
}


#phylogenyMenu h2{
 padding: 2px 0 2px 20px;
 margin: 5px 0 0 0 ;
 font-size: 17px;
 color: white;
 background: #5e66b4;
 border: solid 1.5px white;
}

.labels {
  overflow: visible;
}


