
/*** blue menu option
***/
#menutitle {
 text-align: left;
 color: #377ba8;
 font-weight: bold;
 width: 80%;
 border-bottom: solid 2px #377ba8;
}

.mr-auto a {
  text-align: left;
}

.mr-auto {
  padding: 10px 0 10px 0;
  width: 80%;
  border-bottom: solid 2px #377ba8;
}

#lastChapter{
  border-bottom: None;
}

.mr-auto button:hover {
  background: #377ba8;
}

.mr-auto button {
  margin: 5px 0 0 10px;
  background: #6ea9d0;
  color: white;
}

#menubar {
  margin: 2px 0px 10px 0px;
  border: solid 1.5px white;
  border-radius: 3px;
  background: #afcadc;
}

/**** gray manu option
****/
#treeInteractions {
  margin: 2px 0px 10px 0px;
  border: solid 1.5px white;
  border-radius: 3px;
  background: lightgray;
}

#treeMenu {
 text-align: left;
 color: #377ba8;
 font-weight: bold;
 width: 80%;
 border-bottom: solid 2px darkgray;
}

#treeInteractions .mr-auto{
  border-bottom: none;
}

#SubMenu h2{
 padding: 2px 0 2px 20px;
 margin: 5px 0 0 0 ;
 font-size: 17px;
 color: white;
 background: #377ba8;
 border: solid 1.5px white;
}


/***
#phyloLink {
  background-color:  #9dbde3;
  border: 1.5px solid #5e9fec;
  background-image: linear-gradient(to top, rgba(94,159,236,1) 10%, rgba(193,208,237,1) 90%);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: black;
  text-decoration: none;
}

#phyloLink:hover {
  background-color:  #6592d4;
  border: 1.5px solid #5175ab;
}
***/