html {
  font-family: sans-serif;
  background: white;
}

body {
  margin: 0 auto;
  background: white;
}

.App-body {
  padding: 0px 10% 40px 10%;
}


.App-header h1, .App-header h2, .App-header h3, .App-header h4, .App-header h5, .App-header h6, #title{
  font-family: serif;
  color: #377ba8;
  margin: 10rem;
  text-align: left;
  font-weight: bold;
  font-size: 1.75rem;
}


#menuLink, #helpLink{
  height: 100%;
  border: none;
  color: #377ba8;
  text-decoration: none;
  background: lightgray;
  padding: 10px;
}

#link1:hover, #link2:hover{
  background: #377ba8;
}

#menuLink:hover, #helpLink:hover{
  border:none;
  color: white;
  text-decoration: none;
  background: #377ba8;
}



.App-header hr {
  border: none;
  border-top: 1px solid white;
}

/* Website header styling */
.App-header nav {
  background: lightgray;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0.5rem;
}
.App-header nav h1, #title {
  flex: auto;
  margin: 0px 15px;
}
.App-header nav, .App-header h1, .App-header a, #title{
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

.App-header nav, .App-header ul  {
  display: flex;
  list-style: none;
  margin: 0 ;
  padding: 0;
}



.App-header nav ul li a, .App-header nav ul li span, .App-header header .action {
  width: 100%;
  display: block;
  padding: 0.5rem;
}

/* Error message*/
#alert {
  padding: 10px;
  background-color: #c2291a;
  color: white;
}

#alert ul{
 display: block;
}

#alert li{
 margin: 0 0 5px 0;
}

.App-header .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.App-header .closebtn:hover {
  color: black;
}

/* Visualisation div style */
#treeVis{
  width: 100%;
  height: 80vh;
  display: flex;
  overflow: auto;
}


#tree{
  display: block;
  overflow: visible;
}

#additionalInfo{
  display: inline-block;
  overflow: visible;
  text-overflow: ellipsis
}

#tree_vis{
  width: auto !important;
  overflow: visible;
}
