html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

h1 {
  overflow: hidden;
  text-align: center;
}


p {
  max-width: 200px;
  text-align: center;
  padding: 5px 5px 2px 2px;
  border: 2px solid #6495ED;
  border-radius: 4px;
  background: white; 

}


/***
#Blast, .Taxa, #Filter {
  margin-top: 0;
  box-sizing: border-box;
  width: 90%;
  padding: 5px 5px 5px 5px;
  border: 1px solid #6495ED;
  border-radius: 4px;
  background: white;

}
***/

.Menu {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

label {
  margin-right: 0px;
  padding: 0px;	
}

 select, textarea {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input{
 padding: 0px;
 margin-left: 0px;
}






